@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap");

@layer utilities {
  .masonry {
    column-gap: 3em;
    column-count: 1;
  }
  .masonry-sm {
    column-gap: 3em;
    column-count: 2;
  }
  .break-inside {
    break-inside: avoid;
  }
}

@layer base {
  h1 {
    @apply font-sub text-3xl font-black pb-2;
  }
  h2 {
    @apply font-montserrat text-xl font-semibold pb-2;
  }
  h3 {
    @apply font-sub text-lg font-bold;
  }
  h4 {
    @apply font-sub text-sm font-medium;
  }
  h5 {
    @apply font-alternate text-sm font-bold;
  }
  h6 {
    @apply font-sub text-sm font-medium;
  }
  p,
  li {
    @apply font-montserrat text-base font-normal pb-4;
  }

  li {
    @apply list-disc;
  }

  ol > * {
    @apply list-decimal;
  }

  b {
    @apply font-black;
  }

  cite {
    @apply p-2
  }
  /* a{
    @apply underline cursor-pointer text-terracotta hover:text-light-terracota duration-150
  } */
}
